<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" metadata-complete="false" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DanhMuc_CreateServlet</servlet-name>
        <servlet-class>Admin.DanhMuc_CreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Admin.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DanhMucServlet</servlet-name>
        <servlet-class>Admin.DanhMucServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DanhMuc_EditServlet</servlet-name>
        <servlet-class>Admin.DanhMuc_EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DanhMuc_DeleteServlet</servlet-name>
        <servlet-class>Admin.DanhMuc_DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NhaCungCapServlet</servlet-name>
        <servlet-class>Admin.NhaCungCapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NhaCungCap_CreateServlet</servlet-name>
        <servlet-class>Admin.NhaCungCap_CreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DanhMuc_CreateServlet</servlet-name>
        <url-pattern>/DanhMuc_CreateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DanhMucServlet</servlet-name>
        <url-pattern>/DanhMucServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DanhMuc_EditServlet</servlet-name>
        <url-pattern>/DanhMuc_EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DanhMuc_DeleteServlet</servlet-name>
        <url-pattern>/DanhMuc_DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NhaCungCapServlet</servlet-name>
        <url-pattern>/NhaCungCapServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NhaCungCap_CreateServlet</servlet-name>
        <url-pattern>/NhaCungCap_CreateServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Site/Home/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
